.PersonalInfo{
    max-width: 70vw;
    padding: 20px;
    width: 70vw;
}

.PIHeader{
    margin-bottom: 20px;
}

.shadow-tail{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.PIDetails{
    margin-left: 10px;
    
}

.PIImg>img{
    border-radius: 50%;
    width: 120px;
    border: 3px solid blue;
}

.PIName{
    font-weight: bold;
    color: blue;
    font-size: 25px;
}

.PIEmail{
    color: grey;
    font-size: 16px;
}
