.News{
    margin-top: 60px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px #D1D5DF80;
    border-radius: 20px;
    padding: 20px;
    margin-left: 30px;
}
.newsPreviewWrapper{
    padding: 20px;
}

.viewAllText{
    font-size: 13px;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #858997;
}
